{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/payroll.css' %}"
    />
    <title>Payroll</title>
  </head>
  <body>
    <div class="main" id="main">
      <div class="header">
        <div class="headercenter">
          <h3>Salary Payslip</h3>
          {% for value in results %}
          <p>Pay Period - {{ monthname }}</p>

          <p><b>{{ value.name }}</b></p>
          {% endfor %}
        </div>
        <div class="headerright">
          <img src="{% static 'assets/images/logo.png' %}" alt="Logo" />
        </div>
      </div>
      <div class="topbodycontent">
        <div class="topbodycontentleft">
          <ul>
            {% for value in results %}
            <li>
              <p><b>Employee ID</b> : {{ value.id }}</p>
              <p><b>Department</b> : {{ value.dept }}</p>
              <p><b>Email</b> : {{ value.email }}</p>
              <p><b>Designation</b> : {{ value.designation }}</p>
              <p><b>Gender</b> : {{ value.gender }}</p>
              <p><b>Pan</b> : {{ value.pan_no }}</p>
              <p><b>Aadhar No</b> : {{ value.aadhar_no }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="topbodycontentright">
          {% for value in results %}
          <p><b>Bank Name</b> : {{ value.bankname }}</p>
          <p><b>AC No</b> : {{ value.ac_no }}</p>
          <p><b>Location (CWL)</b> : Chennai</p>
          <p><b>Days worked in month</b> : 31</p>
          <p><b>Leaves Taken</b> : 0</p>

          <p><b>Monthly Salary</b> {{ value.salary }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="topbodyheader">
        <div class="topbodyheaderleft">
          <p>Standard Monthly Salary</p>
          <p>INR</p>
        </div>

        <div class="topbodyheaderright">
          <p>Deductions</p>
          <p>INR</p>
        </div>
      </div>
      <div class="topbodycontent">
        <div class="topbodycontentleft">
          <div class="topbodysalary">
            {% for value in results %}
            <ul>
              <li>
                <p>Basic Salary</p>
                <p>{{ basic }}</p>
              </li>
              <li>
                <p>House Rent Allowance</p>
                <p>{{ hra }}</p>
              </li>
              <li>
                <p>Conveyance Allowance</p>
                <p>{{ conveyance }}</p>
              </li>
              <li>
                <p>Mobile Allowance</p>
                <p>{{ mobile }}</p>
              </li>
              <li>
                <p>Medical Allowance</p>
                <p>{{ medical }}</p>
              </li>
              <li>
                <p>Leave Allowance</p>
                <p>{{ leave }}</p>
              </li>
              <li>
                <p>Internet Allowance</p>
                <p>{{ internet }}</p>
              </li>
            </ul>
            {% endfor %}
          </div>
        </div>
        <div class="topbodycontentright"></div>
      </div>
    </div>
    <button class="printbutton">Print Payslip</button>
    <script>
      document.querySelector("button").addEventListener("click", () => {
        document.querySelector("button").style.display = "none";
        window.print();
        setTimeout(() => {
          document.querySelector("button").style.display = "block";
        }, 5000);
      });
    </script>
  </body>
</html>
