{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/payroll.css' %}"
    />
    <title>Payroll</title>
  </head>
  <body>
    <div class="main" id="main">
      <div class="header">
        <div class="headercenter">
          <h3>Salary Payslip</h3>
          <p>Pay Period - {{ monthname }}</p>
          <p><b>{{ employee.name }}</b></p>
        </div>
        <div class="headerright">
          <img src="{% static 'assets/images/logo.png' %}" alt="Logo" />
        </div>
      </div>
      <div class="topbodycontent">
        <div class="topbodycontentleft">
          <ul>
            <li>
              <p><b>Employee ID</b> : {{ employee.id }}</p>
              <p><b>Department</b> : {{ employee.dept }}</p>
              <p><b>Email</b> : {{ employee.email }}</p>
              <p><b>Designation</b> : {{ employee.designation }}</p>
              <p><b>Gender</b> : {{ employee.gender }}</p>
              <p><b>Pan</b> : {{ employee.pan_no }}</p>
              <p><b>Aadhar No</b> : {{ employee.aadhar_no }}</p>
            </li>
          </ul>
        </div>
        <div class="topbodycontentright">
          <p><b>Bank Name</b> : {{ employee.bankname }}</p>
          <p><b>AC No</b> : {{ employee.ac_no }}</p>
          <p><b>Location (CWL)</b> : Chennai</p>
          <p><b>Days worked in month</b> : 31</p>
          <p><b>Leaves Taken</b> : 0</p>
          <p><b>Monthly Salary</b> {{ employee.salary }}</p>
        </div>
      </div>
      <div class="topbodyheader">
        <div class="topbodyheaderleft">
          <p>Standard Monthly Salary</p>
          <p>INR</p>
        </div>
        <div class="topbodyheaderright">
          <p>Deductions</p>
          <p>INR</p>
        </div>
      </div>
      <div class="topbodycontent">
        <div class="topbodycontentleft">
          <div class="topbodysalary">
            <ul>
              <li>
                <p>Basic Salary</p>
                <p>{{ basic }}</p>
              </li>
              <li>
                <p>House Rent Allowance</p>
                <p>{{ hra }}</p>
              </li>
              <li>
                <p>Conveyance Allowance</p>
                <p>{{ conveyance }}</p>
              </li>
              <li>
                <p>Mobile Allowance</p>
                <p>{{ mobile }}</p>
              </li>
              <li>
                <p>Medical Allowance</p>
                <p>{{ medical }}</p>
              </li>
              <li>
                <p>Leave Allowance</p>
                <p>{{ leave }}</p>
              </li>
              <li>
                <p>Internet Allowance</p>
                <p>{{ internet }}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="topbodycontentright"></div>
      </div>
    </div>
    <button class="printbutton">Print Payslip</button>
    <script>
      document.querySelector("button").addEventListener("click", () => {
        document.querySelector("button").style.display = "none";
        window.print();
        setTimeout(() => {
          document.querySelector("button").style.display = "block";
        }, 5000);
      });
    </script>
  </body>
</html>
